body {
    font-family: 'Inter', sans-serif;
}

.costum-pill {
    background-color: rgb(247, 109, 11);
    color: black;
    margin: 5px;
    border-radius: 50px;

}
.costum-pill:hover{
    background-color: rgba(250, 162, 99, 0.821);
    color: gray;
}

.card-img-fix {
    height: 250px;       
    object-fit: cover;  
    object-position: top;
}


.side-img {
    max-height: 300px; 
    width: 100%;
    object-fit: cover; 
    border-radius: 8px; 
}


.icon-size {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

/* En pantallas pequeñas, podemos reducir un poco más las fotos laterales */
@media (max-width: 576px) {
    .side-img {
        max-height: 200px;
    }
}

